@import './variables';

body{
    background-color: $body-bg;

    &.dark{
        background-color: #0F172A;
    }
}

// DashBoard

.credit-card-container{
    background: linear-gradient(90deg, #84d9fe, #a797ff);

    p{
        margin-bottom: 0.25rem;
        text-align: left !important;

    }
}
.mini-stats-vid{
    .mini-stat-icon{
        overflow: hidden;
        position: relative;

        &:before, &:after{
            content: '';
            position: absolute;
            width: 8px;
            height: 54px;
            background-color: rgba($container-bg, .1);
            left: 6px;
            transform: rotate(32deg);
            top: -5px;
            transition:all 0.4s;
        }
        &::after{
            left: -12px;
            width: 12px;
            transition: all 0.2s;
        }
    }
    &:hover{
        .mini-stat-icon{
            &::after{
                left: 60px;
            }
        }
    }
}

.icon-container{
    align-items: center;
    background-color: $primary !important;
    color: $container-bg;
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.icons-sm{
    height: 3rem;
    width: 3rem;
}
.ad-container{
    background-image: url('../../../public/cardImage.jpg');
    background-size: cover;
    border-radius: 0.7rem;
    overflow: hidden;

    .image-cover{
        opacity: 0.8;
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 0;
        background-image: linear-gradient(to top left, #142727, #3a416f);
        width: 100%;
        height: 100%;
    }
}
.verti-timeline{
    border-left: 2px solid #f6f6f6;
    margin: 0 10px;

    .event-list{
        position: relative;
        padding: 0px 0px 40px 30px;
    }
    .event-timeline-icon{
        position: absolute;
        left: -9px;
        top: 0px;
        z-index: 9;
        font-size: 16px;
        padding: 1px;
        background-color: $container-bg;

    }
}
.btn-text{
    color: $btn-txt-color;
}

//common

.card{
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 69 /3%);
    border: none;
    padding: 2rem;
}
.theme-icon{
    background: transparent;
    border: 1px solid $border-color;
}
.collapsed{
    .main-content{
        margin-left: $sidebar-width-collapsed;
    }
    .menu, #sidebar-menu{
        width: $sidebar-width-collapsed;
    }

    #page-topbar, footer{
        left: $sidebar-width-collapsed;
    }
}

// layout
.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 0 calc($container-padding * 0.5) 0 0;

}
#page-topbar{
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebar-width;
    z-index: 100;
    // background-color: $container-bg;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 69 /3%);
}
.menu-item{
    border-radius: 0.5rem;
    .menu-pill{
        padding: 0.625rem;
        text-align: center;
        background-color: $container-bg;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 11rem;
        height: 2rem;
        margin-right: 0.5rem;
        box-shadow: 0 0.75rem 1.5rem rgb(18 38 69 /3%);
        position: relative;
        z-index: 200;
    }
    &.active{
        background-color: $body-bg;
    }
}
.menu-title{
    padding: 0.635rem;
}
footer{
    padding: 20px calc($container-padding * 0.75);
    right: 0;
    color: #74788d;
    left: $sidebar-width;
    height: 60px;
    position: absolute;
}
#sidebar-menu{
    width: $sidebar-width;
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    padding-bottom: 70px;
    // background-color: $body-bg;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 69 /3%);

    &.collapsed{
        width: 70px;
    }
}
.menu{
    width: $sidebar-width;
    position: fixed;
}
.logo{
    font-weight: bold;
    justify-content: center;
}

.main-content{
    margin-left: $sidebar-width;
    &.collapsed{
        margin-left: 70px;
    }
}

.page-content{
    padding: calc(70px + $container-padding) calc($container-padding * 0.75) 64px calc($container-padding * 0.75);
}
